.datepicker-wrapper{
  position: relative;
  height: 100%;
  z-index: 10;

  @extend .flex-center;
  
  .datepicker-from, .datepicker-to{
    @extend .flex-center;

    padding: 0 8px;
    color: $gray-400;
    font-size: 14px;
    min-width: 75px;
    text-align: center;
    height: 100%;
    border-left: 1px solid $gray-200;
    position: relative;
    &::before{
      content: 'Até: ';
      top: 2px;
      font-size: 10px;
      position: absolute;
    }
  }

  .datepicker-from{
    &::before{
      content: 'De: ';
    }
  }

  .datepicker-to{
    &::before{
      content: 'Até: ';
    }
  }

  .datepicker-helper{
    position: absolute;
  
    transform: scale(0);
    transform-origin: top center;
    transition: transform cubic-bezier(1, 0, 0, 1) 0.25s;

    overflow: hidden;
    margin-left: 16px;
    top: 100%;
    margin-top: 18px;
    box-shadow: $shadow-xl;
  }

  &--open{
    .datepicker-helper{
      transform: scale(1);
    }
  }

}